<%- include("header") -%>

<div class="box" id="heading">
  <h1> <%= listTitle %> </h1>
</div>

<div class="box">

  <% newListItems.forEach(function(newListItem) { %>

    <!-- this form is to delete the checked items -->
    <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="checkbox" value="<%= newListItem._id %>" onChange="this.form.submit()">
        <!-- giving value to the checkbox input as the _id. onChange is used to see if any change in checkbox is there
        it will give submit action to the form, similar to what is done by submit button -->
        <p><%= newListItem.name %></p>
      </div>
      <input type="hidden" name="listName" value="<%= listTitle %>">
      <!-- for deleting from other custom lists
      input type is hidden so that users can't see it -->
    </form>

  <% }); %>

  <form class="item" action="/list" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>

<%- include("footer") -%>
